---
---

// Colours
$colour-background:       #0A0A0A;
$colour-header:           #101010;
$colour-code:             #222222;
$colour-card:             #151515;
$colour-card-action:      #151515;
$colour-card-border:      #1E1E1E;
$cod-grey-vlight:         #1A1A1A;
$gallery:                 #EEEEEE;
$silver:                  #CCCCCC;
$grey:                    #AAAAAA;
$charcoal:                #555555;
$endeavour:               #0060A1;
$deep-cerulean:           #006CB5;

// Dimensions
$content-width:           600px;

// Colour Defaults
h1, h2, h3, h4, h5, span, p, a {
  color: $silver;
}

// Heading Defaults
h1, h2, h3, h4, h5 {
  a {
    text-decoration: none;
  }
}

h3 {
  padding: 0px 16px;
}

.last-link {
  border-top: solid 1px $colour-card-border;
}

.non-card-text {
  padding: 0px 16px;
}

html, body {
  background-color: $colour-background;
  color: $gallery;
  height: 100%;
}

// Post Styles
.post-header {
  padding: 0px 16px;
  h1 {
    font-size: 3em;
  }
}
span.post-meta {
  color: $grey;
}
.post-content {
  padding: 16px 16px 16px 16px;
}
.post {
  overflow: auto;
  background-color: $colour-card;
  img {
    width: 100%;
  }
}

.post-title {
  margin: 24px 0px 8px 0px;
}

.post-details {
  overflow: auto;
  .post-details-avatar {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-size: 36px;
    background-repeat: no-repeat;
    float: left;
    margin: 16px 16px 0px 0px;
  }
  .post-details-text {
    float: left;
    margin-top: 16px;
  }
}

// Drawer Styles
.drawer-logo {
  width: 100%;
  height: 150px;
  background-image: url("/img/logo/TC-Logo-v3-m.png");
  background-size: 100px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $colour-header;
}
.drawer-link-icon {
  float: left;
}
.drawer-link-label {
  display: inline-block;
  height: 24px;
  float: left;
  line-height: 24px;
  padding-left: 16px;
}

.page-content {
  margin: 16px auto;
  max-width: $content-width;
  overflow: auto;
}

.mdl-textfield__input {
  border-bottom: 1px solid $charcoal;
}

.dd-post-listing {
  min-height: 100px;
  background-color: $colour-card;
  color: $silver;
  .mdl-card__title {
    height: 150px;
  }
  .mdl-card__supporting-text {
    width: auto;
    h4 {
      margin: 0px;
      a {
        color: $gallery;
      }
    }
  }
  .mdl-card__actions {
    &.mdl-card--border {
      border-top: solid 1px $colour-card-border;
    }
  }
  .mdl-button {
    &.mdl-button--colored {
      color: $silver;
    }
  }
}
.button-dark {
  color: $colour-card-action;
}
.mdl-mini-footer {
  background-color: transparent;
  padding: 32px;
}
a.copyright, a.tc-aff {
  color: $charcoal;
}
li.separate {
  padding-right: 20px;
  border-right: solid 1px #333;
}
.mdl-layout__header {
  background-color: $colour-header;
  .mdl-layout__drawer-button {
    color: $silver;
  }
}

.mdl-layout__content {
  overflow: visible;
}

.mdl-layout__drawer {
  background-color: $colour-background;
  // border-right: solid 1px $colour-card-border;
  border-right: solid 1px transparent;
  .mdl-navigation {
    padding-top: 0px;
    .mdl-navigation__link:hover {
      background-color: $colour-header;
    }
  }
}

.mdl-layout__header-row .mdl-navigation__link {
  color: $silver;
}

.post-excerpt {
  margin-top: 16px;
  p {
    width: 100%;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    color: $silver;
  }
}

.highlight {
  overflow: auto;
}

pre {
  background-color: $colour-code;
}

pre[class*="language-"] {
  margin: 0px 0px 10px 0px;
  overflow-x: scroll;
}

@import
  'partials/logo',
  'partials/pagination',
  'partials/search-box',
  'partials/media';
