---
---

// Colours
$colour-background:       #0A0A0A;
$colour-header:           #101010;
$colour-card:             #151515;
$colour-card-action:      #151515;
$colour-card-border:      #101010;
$cod-grey-vlight:         #1A1A1A;
$gallery:                 #EEEEEE;
$silver:                  #CCCCCC;
$grey:                    #AAAAAA;
$charcoal:                #555555;

// Dimensions
$content-width:           600px;

// Colour Defaults
h1, h2, h3, h4, h5, span, p, a {
  color: $silver;
}

// Heading Defaults
h1, h2, h3, h4, h5 {
  a {
    text-decoration: none;
  }
}

h3 {
  padding: 0px 16px;
}

html, body {
  background-color: $colour-background;
}

// Post Styles
.post-header {
  padding: 0px 16px;
  h1 {
    font-size: 3em;
  }
}
p.post-meta {
  color: $grey;
}
.post-content {
  padding: 0px 16px 16px 16px;

}
.post {
  margin-top: 16px;
  background-color: $colour-header;
  img {
    width: 100%;
  }
}

.page-content {
  margin: 0 auto;
  max-width: $content-width;
}

.dd-post-listing {
  min-height: 100px;
  background-color: $colour-card;
  margin-bottom: 25px;
  color: $silver;
  .mdl-card__title {
    height: 150px;
  }
  .mdl-card__supporting-text {
    h4 {
      margin-top: 0px;
    }
  }
  .mdl-card__actions {
    &.mdl-card--border {
      border-top: solid 1px $colour-card-border;
    }
  }
  .mdl-button {
    &.mdl-button--colored {
      color: $silver;
    }
  }
}
.button-dark {
  color: $colour-card-action;
}
.mdl-mini-footer {
  background-color: transparent;
}
a.copyright, a.tc-aff {
  color: $charcoal;
}
li.separate {
  padding-right: 20px;
  border-right: solid 1px #333;
}
.mdl-layout__header {
  background-color: $colour-header;
  .mdl-layout__drawer-button {
    color: $silver;
  }
}

.mdl-layout__drawer {
  background-color: $colour-background;
  border-right: solid 1px $colour-card-border;
  .mdl-navigation .mdl-navigation__link:hover {
    background-color: $colour-header;
  }
}


@import
  'partials/logo',
  'partials/syntax-highlighting';
