<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li class="separate">
        <a href="http://tc-gaming.co.uk" class="tc-aff"><img src="/img/logo/tc-footer.png"/></a>
      </li>
      <li>
        <a href="http://tc-gaming.co.uk" class="copyright">&copy; 2006-<script>document.write(new Date().getFullYear())</script></a>
      </li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="https://github.com/TC-Gaming/DevDrivel">GitHub</a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
      </li>
    </ul>
  </div>
</footer>
