@media (max-width: 600px) {
  .page-content {
    margin: 0 auto;
  }
  .post-header h1 {
    font-size: 2.5em;
  }
  .header-logo {
    display: none;
  }
  .mobile-header-logo {
    display: block;
    opacity: 1;
    transition: opacity .25s;
  }
  .mdl-mini-footer {
    padding: 32px 16px;
  }
  .search-box.is-focused, .search-box.is-dirty {
    width: calc(100% - 48px);
    &~ .mobile-header-logo {
      opacity: 0;
      transition: opacity .25s;
    }
    .mdl-textfield__expandable-holder {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .post-header h1 {
    font-size: 2.5em;
  }
  .post-content {
    h2 {
      font-size: 20px;
    }
  }
  .mdl-mini-footer__left-section{
    display: block;
    float: none;
    margin: 8px auto;
  }
  .mdl-mini-footer__right-section {
    display: block;
    float: none;
    margin: 8px auto;
  }
}
