@media (max-width: 600px) {
  .page-content {
    margin: 0 auto;
  }
  .header-logo {
    display: none;
  }
  .mobile-header-logo {
    display: block;
  }
  .search-box.is-focused {
    width: calc(100% - 48px);
    &~ .mobile-header-logo {
      opacity: 0;
      transition: opacity .25s;
    }
    .mdl-textfield__expandable-holder {
      width: 100%;
    }
  }
  .mdl-mini-footer__left-section{
    display: block;
    margin: 8px auto;
  }
  .mdl-mini-footer__right-section {
    display: block;
    margin: 8px auto;
  }
}
