@mixin header-logo {
  background-image: url('/img/logo/TCDevDrivel_flat_35h.png');
  background-position: 0 center;
  background-repeat: no-repeat;
  height: 50px;
  line-height: 50px;
  width: 215px;
  opacity: 1;
  transition: opacity .25s;

  &:hover {
    opacity: .75;
    transition: opacity .25s;
  }
}
