@mixin page-content {
  margin: 16px auto;
  max-width: $content-width;
  overflow: auto;

  h3 {
    padding: 0px 16px;
  }

  .post-content h3 {
    padding: 0;
  }
}

@mixin page {
  overflow: auto;

  h4:not(:first-child) {
    margin-top: 52px;
  }

}
