<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include header.html %}
      <main class="mdl-layout__content">
        <div id="search-results" class="search-blind hidden mdl-shadow--2dp">
          <table class="mdl-data-table mdl-js-data-table">
            <tbody id="search-results-table">
            </tbody>
          </table>
        </div>
        <div class="page-content">
          {{ content }}
        </div>

        {% include footer.html %}

      </main>

    </div>

    <!-- MDL -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>

    <!-- DevDrivel.js -->
    <script type="text/javascript" src="/js/devdrivel.js"></script>

    <!-- Prism -->
    <script type="text/javascript" src="/js/prism.js"></script>

  </body>
</html>
